body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  margin-top: 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background-color: #ffffff;
  border-radius: 2px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 7.5px;
  text-align: left;
  border: 1px solid #dee2e6;
}

th {
  background-color: #007bff;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
